{{block "trip" . }}
<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
  <head>
    <title>tripwiser</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer type="text/javascript" src="/static/js/alpinejs_3_14_1.min.js"></script>
    <script src="/static/js/tailwind_3_4_5.es"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/daisyui_4_10_2.full.min.css" />
    <script type="text/javascript" src="/static/js/htmx_1_9_12.min.js"></script>
  </head>
  <body>
    <h1>Welcome to Trip {{.Id}}</h1>
    {{template "trip_detail" .}}
  </body>
</html>
{{end}}

{{block "trip_detail" .}}
<div
      x-data="{
          tabSelected: 1,
          tabId: $id('tabs'),
          tabButtonClicked(tabButton){
              this.tabSelected = tabButton.id.replace(this.tabId + '-', '');
              this.tabRepositionMarker(tabButton);
          },
          tabRepositionMarker(tabButton){
              this.$refs.tabMarker.style.width=tabButton.offsetWidth + 'px';
              this.$refs.tabMarker.style.height=tabButton.offsetHeight + 'px';
              this.$refs.tabMarker.style.left=tabButton.offsetLeft + 'px';
          },
          tabContentActive(tabContent){
              return this.tabSelected == tabContent.id.replace(this.tabId + '-content-', '');
          },
          tabButtonActive(tabContent){
              const tabId = tabContent.id.split('-').slice(-1);
              return this.tabSelected == tabId;
          }
        }"
      x-init="tabRepositionMarker($refs.tabButtons.firstElementChild);"
      class="relative w-full"
      id="trip">

      <div x-ref="tabButtons" class="relative inline-grid items-center justify-center w-full h-10 grid-cols-4 p-1 text-gray-500 bg-white border border-gray-100 rounded-lg select-none">
          <button :id="$id(tabId)" @click="tabButtonClicked($el);" type="button" :class="{ 'bg-gray-100 text-gray-700' : tabButtonActive($el) }" class="relative z-20 inline-flex items-center justify-center w-full h-8 px-3 font-medium transition-all rounded-md cursor-pointer whitespace-nowrap">Overview</button>
          <button :id="$id(tabId)" @click="tabButtonClicked($el);" type="button" :class="{ 'bg-gray-100 text-gray-700' : tabButtonActive($el) }" class="relative z-20 inline-flex items-center justify-center w-full h-8 px-3 font-medium transition-all rounded-md cursor-pointer whitespace-nowrap">Schedule</button>
          <button :id="$id(tabId)" @click="tabButtonClicked($el);" type="button" :class="{ 'bg-gray-100 text-gray-700' : tabButtonActive($el) }" class="relative z-20 inline-flex items-center justify-center w-full h-8 px-3 font-medium transition-all rounded-md cursor-pointer whitespace-nowrap">Packing List</button>
          <button :id="$id(tabId)" @click="tabButtonClicked($el);" type="button" :class="{ 'bg-gray-100 text-gray-700' : tabButtonActive($el) }" class="relative z-20 inline-flex items-center justify-center w-full h-8 px-3 font-medium transition-all rounded-md cursor-pointer whitespace-nowrap">Expenses</button>
          <div x-ref="tabMarker" class="absolute left-0 z-10 w-1/2 h-full duration-300 ease-out" x-cloak><div class="w-full h-full bg-gray-100 rounded-md shadow-sm"></div></div>
      </div>
      <div class="relative flex items-center w-full p-5 mt-2 border rounded-md content border-gray-200/70">
        <div :id="$id(tabId + '-content')" x-show="tabContentActive($el)" class="relative">
          {{ template "trip_overview" . }}
        </div>

        <div :id="$id(tabId + '-content')" x-show="tabContentActive($el)" class="relative">
          {{ template "schedule" . }}
        </div>

        <div :id="$id(tabId + '-content')" x-show="tabContentActive($el)" class="relative" x-cloak>
          {{ template "packing_list" . }}
        </div>

        <div :id="$id(tabId + '-content')" x-show="tabContentActive($el)" class="relative" x-cloak>
          {{ template "expenses" . }}
        </div>

      </div>
    </div>

{{end}}

{{block "trip_overview" .}}
<div class="border rounded-md border-gray-200/70">
  <form class="text-left" hx-post="/t/{{.Id}}" hx-target="#trip" hx-swap="innerHTML">
    <label for="TripName">Trip name: </label>
    <input
      {{ if .Name }} value="{{ .Name }}" {{ end }}
      type="text" name="TripName" placeholder="trip name"><br/>

    <label for="StartDate">Start: </label>
    <input type="date" name="StartDate" value="{{formatTime .StartDate}}"/><br/>

    <label for="EndDate">End: </label>
    <input type="date" name="EndDate" value="{{formatTime .EndDate}}"/><br/>
    <button class="btn" type="submit">Update</button>
  </form>
</div>
<div class="border rounded-md border-gray-200/70">
  <form hx-post="/t/{{.Id}}/u" hx-target="#trip" hx-swap="innerHTML">
    <label>Friends: </label><br/>
    <ul class="list-inside list-['🧑']">
      {{range .Users}}
      <li>{{.Name}}</li>
    {{end}}
    </ul><br/>
    <div class="join">
        <input class="input input-bordered join-item" type="text" name="name" placeholder="Name">
        <button class="btn join-item" type="submit">Add user</button>
    </div>
  </form>
</div>
{{end}}

{{block "schedule" .}}
  Who's coming when
  <div class="overflow-x-auto">
    <form class="text-left" hx-post="/t/{{.Id}}/s" hx-target="#trip" hx-swap="innerHTML">
    <table class="table table-zebra table-xs table-pin-rows table-pin-cols">
      <thead>
        <th scope="col"></th>
        {{range .Users}}
        <th scope="col">{{.Name}}</th>
        {{ end }}
      </thead>
      <tbody>
        {{range $date := dateRange .StartDate .EndDate}}
        <tr>
          <th scope="row">{{formatTime $date}}</th>
          {{range $user := $.Users}}
          {{$isBooked := $.IsBooked $user $date}}
          <td><input type="checkbox" autocomplete="off" name="{{concatUserDate $user $date}}" {{if $isBooked }}checked{{end}}></td>
          {{end}}
        </tr>
        {{end}}
      </tbody>
    </table>
    <button class="btn" type="submit">Update schedule</button>
      </form>
  </div>
{{end}}

{{block "packing_list" .}}
Packing List
{{end}}

{{block "expenses" .}}
<form>
    <div class="join" hx-swap="outerHTML" hx-target="#expenses" hx-post="/t/{.Id}/e">
        <label class="input input-bordered flex items-center gap-2 join-item">
          Description
          <input type="text" class="grow" name="description" placeholder="Enter a description" />
        </label>

        <label class="input input-bordered flex items-center gap-2 join-item">
          Amount
          <input type="number" class="grow" name="amount" placeholder="0.00" min="0.00" step="0.01"/>
        </label>

        <button class="btn join-item" type="submit">Add Expense</button>
    </div>
</form>

<div id="expenses">
</div>
{{end}}
