{{block "index" . }}
<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
  <head>
    <title>tripwiser</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.7/dist/cdn.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.5/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"> -->
  </head>
  <body>
    <div class="flex justify-center text-6xl">tripwiser</div>
    <form hx-swap="outerHTML" hx-target="#contacts" hx-post="/contacts">
      <label for="name">Name: </label>
      <input class="input input-bordered w-full max-w-xs" type="text" name="name" placeholder="Name">
      <button class="btn btn-neutral" type="submit">Create trip</button>
    </form>
  </body>
</html>
{{ end }}